@import "https://fonts.googleapis.com/css?family=Lato:400,700";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f9fa;
    font-family: 'Lato', sans-serif;
}

.logo {
    width: 20vw;
}

/* put media quari of logo 
    50vw on mobile devices to
    20vw on PC
*/

.main{
    position: relative;
    top: 5em;
    bottom: 5em;
}

#form{
    margin-top: 20px;
    margin-bottom: 70px;
}

#items{
    margin-top: 20px;
    margin-bottom: 50px;
}

.icon{
    width: 100px;
}

#video{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100%  / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}

footer {
    position: relative;
    top: 5em;
    bottom: 5em;
    margin-top: 30px;
    background-color: #f8f9fa;
    padding: 20px;
}

footer > ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;

}

footer > ul > li {
    padding: 0 10px;
}


footer > span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
}